body {

  background-image: url('https://uhdwallpapers.org/uploads/converted/19/02/24/os-galaxy-s10-1920x1200_949745-mm-90.jpg');
  font-family: 'Roboto', sans-serif;
}

.ui.huge.header {
    
  font-family: 'Bungee Shade', cursive;
  color: #c1F6ed;
  font-size: xx-large; 
}

.ui.sizer.segment {
  background-color: transparent;
}

.ui.grid {
    font-family: 'Courier New', Courier, monospace;
}

.headline{
  color: dodgerblue !important;
}

.headline:hover{
  color:blue !important;
}

.headline:visited{
  color:mediumorchid !important;
}

footer {
  
  border-top:solid darkgreen 5px !important;
  background-color: honeydew !important;
  margin-bottom: 0px !important;

}
  
        
